@import url('http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css');

.body-container {
  transition: margin-left 0.5s;
  height: 95vh;
  width: calc(100vw);
  float: right;
}

.body-container-collapsed {
  margin-left: 20vw;
}

.body-container-expanded {
  margin-left: 0;
}

.locationMarkerDetails-container {
  margin: 10px;
  text-align: center;
}
